<div class="container-fluid"
     [style.margin-top]="'50px'">

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <table class="table table-striped">
          <tbody>
          <tr *ngFor="let imageItem of addedImageItems">
            <td>{{imageItem.path}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <input #htmlFileSelector
             (change)="attachmentSelected($event)"
             type="file"
             hidden>
      <div class="form-group">
        <button class="btn btn-primary" (click)="clickAttachmentSelection()">
          Add image
        </button>

        <button class="btn btn-danger"
                (click)="clickClearCanvas()">
          Clear canvas
        </button>
      </div>

    </div>
    <div class="col-6">

      <canvas #htmlCanvasElement
              [style.width]="'100%'"></canvas>

      <div class="row" resize-sensor="true"
           (resized)="handleCanvasResizeEvent($event)">



<!--        <div class="col-12"-->
<!--             *ngFor="let item of addedImageItems">-->
<!--          <img class="img-fluid"-->
<!--               [src]="item.dataUrl">-->
<!--        </div>-->
      </div>


    </div>
  </div>

</div>
